*{
	margin: 0;
	padding: 0;
    font-family:'Open Sans', sans-serif;
}

input{
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
}

body{
    font-size: 14px;
    color: #5A5A5A;;
    background-color: #F1F1F1;
    transition-property: padding-left;
    transition-duration: 0.4s;
    padding-top: 65px;
}
body.left-panel-open{
    padding-left: 320px;
}
textarea{
    resize: vertical;
}
.page_error{
    padding: 20px;
}
.close-button{
    float: right;
    width: 20px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    margin-top: -5px;
    color: #9E9E9E;
    font-weight: 400;
}
.inputs{
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
    padding: 0 10px;
}
.inputs[disabled]{
    background-color: rgba(0, 141, 173, 0.11);
}
.inputs:focus{
    outline: 1px solid #b60a31;
}
.ui-autocomplete{
    background-color: #ffffff;
    border: 1px solid #E0E0E0;
    position: absolute;
    margin-top: -1px;
    list-style: none;
    display: none;
    z-index: 500;
    max-height: 200px;
    overflow-y: auto;
}
.ui-autocomplete .ui-menu-item{
    padding: 10px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.4s;
}
.ui-autocomplete .ui-menu-item:hover{
    background-color: #F1F1F1;
}
.ui-helper-hidden-accessible{
    display: none;
}
.hidden{
    display: none !important;
}
#wrap{
    width: 100%;
    background-color: rgba(47, 47, 47, 0.49);
    position: fixed;
    height: 100%;
    z-index: 450;
    top: 0;
    display: none;
    cursor: pointer;
    left: 0px;
}
#wrap.transparent{
    background-color: transparent;
}
.drop-menu{
    background-image: url('/m/img/more-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.7s;
}
.drop-menu:hover{
    background-color: #DEDEDE;
}
.drop-menu .drop-menu-list, .dropdown-btn .dropdown-list{
    position: absolute;
    background-color: #ffffff;
    list-style: none;
    border: 1px solid #E0E0E0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: none;
    margin-left: -45px;
    margin-top: -20px;
    z-index: 1000;
    min-width: 100px;
}
.dropdown-btn{
    position: relative;
}
.dropdown-btn .dropdown-list{
    left: 0px;
    top: 0px;
}
.drop-menu .drop-menu-list li, .dropdown-btn .dropdown-list .dropdown-item{
    line-height: 25px;
    padding: 10px;
    transition-property: background-color;
    transition-duration: 0.7s;
}
.drop-menu .drop-menu-list li:hover, .dropdown-btn .dropdown-list .dropdown-item:hover{
    background-color: #DEDEDE;
}
.justify{
    text-align: justify;
}


/*              NAVBAR                */
#navbar{
    background-color: #b60a31;
    height: 65px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.45);
    display: block;
    color: rgba(255,255,255,0.87);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 9;
    left: 0px;
}
#navbar #right-panel-button{
    background-image: url("/img/right-menu.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 65px;
    display: block;
    float: right;
    width: 65px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.7s;
}
#navbar #right-panel-button:hover{
        background-color: #d20f3b;
}
#navbar #left-panel-button{
    background-image: url("/img/left-menu.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 65px;
    display: block;
    float: left;
    width: 65px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.7s;
}
#navbar #left-panel-button:hover{
    background-color: #d20f3b;
}
#navbar #logo{
    line-height: 65px;
    background-image: url('/img/logo.png');
    background-position: left;
    background-repeat: no-repeat;
    float: left;
    padding-left: 62px;
    font-size: 16px;
}


/*              TOOLBAR                */
#toolbar{
    display: block;
    background-color: #ffffff;
    border-bottom: 1px solid #E0E0E0;
    z-index: 50;
    box-sizing: border-box;
    padding: 30px;
    overflow: auto;
    padding-bottom: 20px;
}
#toolbar h2{
    color: #525252;
    font-weight: 500;
}
#toolbar #breadcrumb{
    float: left;
}
#toolbar #breadcrumb .breadcrumb-item {
    display: inline-block;
}
#toolbar #breadcrumb .breadcrumb-item a{
    color: #d20f3b;
    text-decoration: none;
    cursor: pointer;
}
#toolbar #breadcrumb .breadcrumb-item a:hover{
    text-decoration: underline;
}
#toolbar #breadcrumb .breadcrumb-item a::after{
    display: inline-block;
    content: "/";
    padding: 0 10px;
    color: #636363;
}
#toolbar #breadcrumb .breadcrumb-item:last-of-type a{
    color: #636363;
    cursor: default;
}
#toolbar #breadcrumb .breadcrumb-item:last-of-type a:hover{
    text-decoration: none;
}
#toolbar #breadcrumb .breadcrumb-item:last-of-type a::after{
    content: "";
}
#toolbar #control{
    float: right;
    margin-top: -10px;
}
#toolbar #control .control-button{
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #D2D2D2;
    cursor: pointer;
    display: inline-block;
    background-color: #FFFFFF;
    transition-property:  background-color;
    transition-duration: 0.4s;
}

#toolbar #control .control-button:hover{
    background-color: #F1F1F1;
}
#toolbar #control .control-button.add{
    background-image: url("/img/add-icon.png");
}
#toolbar #control .control-button.search{
    background-image: url("/img/search-icon.png");
}
#toolbar #control .control-button.graph{
    background-image: url("/img/graph-icon.png");
}
#toolbar #control .control-button.table{
    background-image: url("/img/table-icon.png");
}
#toolbar #control .control-button.calendar{
    background-image: url("/img/calendar-icon.png");
}
#toolbar #control #search-input{
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    transition-property:  display;
    transition-duration: 4s;
}
#toolbar #control #search-input input{
    width: 0px;
    padding: 0px;
}



/*              RIGHT PANEL                */
#right-panel.close{
    margin-right: -420px;
}
#right-panel{
    width: 400px;
    height: 100%;
    display: block;
    background-color: white;
    position: fixed;
    right: 0px;
    z-index: 1000;
    top: 0px;
    box-sizing: border-box;
    box-shadow: 0 8px 17px rgba(0,0,0,0.2);
    padding: 15px;
    transition-property:  margin-right;
    transition-duration: 0.4s;
}
#right-panel h3{
    color: #636363;
    font-weight: 400;
    float: left;
}
#right-panel .panel-body{
    display: block;
    clear: both;
    padding-top: 30px;
}
/*
#right-panel .panel-item{
    display: block;
    overflow: auto;
    padding: 15px 0px;
    border-bottom: 1px solid #DEDEDE;
}
#right-panel .panel-item-title{
    display: block;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 215px;
}
#right-panel .panel-item-text{
    color: #636363;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 215px;
}
#right-panel .panel-item-mark{
    float: left;
    height: 40px;
    width: 55px;
        text-align: center;
    line-height: 40px;
    font-size: 13px;
    color: #636363;
}
*/
#right-panel .notification{
    border-bottom: 1px solid #DEDEDE;
    padding: 10px 0px;
    cursor: pointer;
}
    

#right-panel .record-notification .record-date,
#right-panel .task-notification .task-date{
    color: #b60a31;
    font-weight: 600;
    font-size: 13px;
    padding-right: 20px;
    vertical-align: middle;
    display: table-cell;
    width: 40px;
    text-align: center;
}

#right-panel .record-notification .record-info,
#right-panel .task-notification .task-info{
    display: table-cell;
    vertical-align: middle;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 280px;
    width: 2800px;
    font-weight: 600;
}

#right-panel  .task-notification .task-client,
#right-panel  .record-notification .record-car{
    font-size: 12px;
    font-weight: 400;
}

#right-panel .record-notification .record-cost{
    margin-left: 10px;
    float: right;
    color: #b60a31;
}

/*              LEFT PANEL                */
#left-panel.close{
    margin-left: -360px;
}
#left-panel{
    width: 320px;
    height: 100%;
    display: block;
    background-color: #3d464d;
    position: fixed;
    left: 0px;
    z-index: 8;
    top: 0px;
    box-sizing: border-box;
    box-shadow: 0 8px 17px rgba(0,0,0,0.2);
    transition-property:  margin-left;
    transition-duration: 0.4s;
}
#left-panel .panel-body{
}
#left-panel .user-info{
    margin-top: 65px;
    padding: 20px 20px 20px 25px;
    background-color: #383e42;
}
#left-panel .user-name{
    color: #ACB3BB;
    font-weight: 700;
    font-size: 16px;
}
#left-panel .user-type{
    color: #ACB3BB;
    font-size: 12px;
}

#left-panel .panel-item-mark{
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}
#left-panel .main-icon{
    background-image: url('/img/home-menu-icon.png');
}
#left-panel .contacts-icon{
    background-image: url('/img/contacts-menu-icon.png');
}
#left-panel .records-icon{
    background-image: url('/img/records-menu-icon.png');
}
#left-panel .services-icon{
    background-image: url('/img/services-menu-icon.png');
}
#left-panel .tasks-icon{
    background-image: url('/img/tasks-menu-icon.png');
}
#left-panel .income-icon{
    background-image: url('/img/income-menu-icon.png');
}
#left-panel .expense-icon{
    background-image: url('/img/expense-menu-icon.png');
}
#left-panel .charts-icon{
    background-image: url('/img/charts-menu-icon.png');
}
#left-panel .exit-icon{
    background-image: url('/img/exit-menu-icon.png');
}
#left-panel .panel-item-title{
    float: left;
    padding-left: 20px;
    line-height: 25px;
    color: #ACB3BB;
    font-weight: 700;
}
#left-panel .panel-item-title a{
    color: #9EA2A6;
    text-decoration: none;
}
#left-panel .panel-item{
    display: block;
    overflow: auto;
    padding: 12px 20px;
    transition-property:  background-color;
    transition-duration: 0.4s;
    cursor: pointer;
}
#left-panel .panel-item:hover{
    background-color: #515C65;
}

/*              CONTENT                */
#content{
    display: table;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    bottom: 0px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
.content-title{
    padding: 20px 0px 10px 0px;
    font-size: 20px;
    text-align: center;
}
#content.long{
    width: 95%;
}
.table{
    display: table;
    width: 100%;
}
.table .row{
    display: table-row;
}
.table .row:nth-child(2n){
    background-color: #F5F6FF;
}
.table .row .cell,
.table .row .cell-caption,
.table .row .sort-none{
    display: table-cell;
    border-bottom: 1px solid #E0E0E0;
    height: 45px;
    padding: 0 10px 0 20px;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100px;
}
.table .row .cell-caption, 
.table .row .sort-none{
    padding: 0 10px;
    font-weight: 600;
}
.table .row .sort{
    cursor: pointer;
}
.table .row .sort::after{
    content: "▲";
    display: inline-block;
    color: #DEDEDE;
    font-size: 11px;    
    float: right;
    margin-top: -5px;
    margin-right: -11px;
}
.table .row .sort::before{
    content: "▼";
    display: inline-block;
    color: #DEDEDE;
    font-size: 11px;
    float: right;
    margin-top: 6px;
}
.table .row .active-sort[sort="desc"]::after, 
.table .row .active-sort[sort="asc"]::before{
    color: #d20f3b;
}

.table .row .sort-none{
    cursor: default;
}
.table .row .cell:last-of-type{
    width: 20px;
    padding-left: 0px;
}
.table .data-row{
    cursor: pointer;
}
#table-info{
    line-height: 40px;
    padding: 10px;
    overflow: auto;
}
#table-info #records-info{
    float: left;
}    
#table-info #records-carcase-info{
    float: left;
}    
#table-info #table-navigation{
    float: right;
}
#table-info #table-navigation .navigation-btn{
    display: inline-block;
    width: 30px;
    border: 1px solid #D2D2D2;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    background-color: #ffffff;
    transition-property:  background-color;
    transition-duration: 0.4s;
}
.navigation-btn.r-arrow{
    background-image: url("/img/r-arrow-icon.png");
    background-position: center;
    background-repeat: no-repeat;
}
.navigation-btn.l-arrow{
    background-image: url("/img/l-arrow-icon.png");
    background-position: center;
    background-repeat: no-repeat;
}
#table-info #table-navigation .active-btn{
    background-color: #b60a31;;
    color: #ffffff;
}
#table-info #table-navigation .navigation-btn:hover{
    background-color: #F1F1F1;
}
#table-info #table-navigation .active-btn:hover{
    background-color: #d20f3b;
}
.title-form{
    margin: 15px;
}
.title-form img{
    vertical-align: middle;
}
.title-form span{
    vertical-align: middle;
    margin-left: 20px;
}
.form .form-item{
    margin: 20px;
    overflow: auto;
}
.form .form-item label{
    width: 160px;
    display: inline-block;
    line-height: 30px;
    vertical-align: top;
    cursor: pointer;
    float: left;
    margin-right: 20px;
}
.form .form-item input{
    width: 300px;
    margin-right: 10px;
    display: block;
    margin-left: 180px;
}
.form .form-item input ~ input{
    margin-top: 20px;
}
.form .form-item .input-errors-list{
    color: #E00000;
    display: block;
    margin-left: 180px;
    font-size: 12px;
}
.form .form-item .input-errors-list div{
    display: none;
}
    
.form .form-item textarea{
    width: 300px;
    max-width: 300px;
    height: 90px;
}
.form .form-submit{
    display: inline-block;
    border: 1px solid #D2D2D2;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.4s;
    background-color: #b60a31;
    color: #ffffff;
    padding: 2px 8px;
    margin: 0px 40px 20px 20px;;
    float: right;
}
.form .form-response-true,
.form .form-response-false, .form-response-empty{
    display: inline-block;
    font-size: 13px;
    float: right;
    margin: 0 20px 20px 20px;
    line-height: 35px;
}
.form .form-response-true{
    color: #b60a31;
}
.form .form-response-false, .form-response-empty{
    color: #E00000;
}
.add-button{
    color: #d20f3b;
    cursor: pointer;
    margin-left: 180px;
    margin-top: 5px;
}
#service-add{
}

#list-services .data-row{
    cursor: default;
}

#list-tasks .data-row{
    cursor: pointer;
}


/*              MODAL                */
.modal{
    position: absolute;
    z-index: 600;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.45);
    display: none;
    padding: 20px;
    overflow: auto;
}
#modal-record{
    overflow: visible;
}
.modal .modal-header{
    overflow: auto;
    margin-bottom: 10px;
}
.modal-body{
    overflow: auto;
}
.modal .modal-header h3{
    color: #636363;
    font-weight: 400;
    float: left;
}

#modal-client{
    width: 820px;
}
#modal-client #client-items{
    width: 400px;
    box-sizing: border-box;
    padding-right: 10px;
    float: left;
}
#modal-client #client-items .item-title{
    font-weight: 700;
    font-size: 13px;
    color: #636363;
    margin-bottom: 5px;
    float: left;
}
#modal-client #client-items #records-header,
#modal-client #client-items #tasks-header{
    overflow: auto;
}
#modal-client #client-items #client-records-href,
#modal-client #client-items #client-tasks-href{
    font-size: 13px;
    margin-bottom: 5px;
    float: right;
}
#modal-client #client-items #client-records-href a,
#modal-client #client-items #client-tasks-href a{
    text-decoration: none;
    color: #b60a31;
    cursor: pointer;
}
#modal-client #client-items #client-records-href a:hover,
#modal-client #client-items #client-tasks-href a:hover{
    text-decoration: underline;
}
#modal-client #client-items .client-item{
    background-color: #F1F1F1;
    border: 1px solid #E0E0E0;
    height: 160px;
    text-align: center;
    line-height: 160px;
    font-weight: 700;
    color: #C3C3C3;
    font-size: 15px;
}
#modal-client #client-items #client-tasks .task{
    width: 100%;
    background-color: white;
    padding: 20px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #E0E0E0;
}

.task .task-client{
    color: #b60a31;
}

#modal-client #client-items #client-tasks{
    margin-bottom: 20px;
}

#modal-client #client-items #client-tasks{
    margin-bottom: 20px;
}

#modal-client #client-items #client-tasks .task .task-client{
    display: none;
}

#modal-client #client-items #client-tasks .task .task-info{
    line-height: 20px;
    font-size: 14px;
    color: #636363;
    font-weight: 400;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#modal-client #client-items #client-tasks .task .task-date{
    line-height: 20px;
    font-size: 12px;
    color: #8E988E;
    font-weight: 400;
    text-align: left;
}
#modal-client #client-items #client-tasks .task:nth-child(3){
    border-bottom: 0px;
}
#modal-client #client-items #client-records{
    margin-bottom: 20px;
}
#modal-client #client-items #client-records-carcase{
    margin-bottom: 20px;
}
#modal-client #client-items #client-records .record{
    height: 80px;
    width: 100%;
    background-color: white;
    padding: 20px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #E0E0E0;
}
#modal-client #client-items #client-records-carcase .record{
    height: 80px;
    width: 100%;
    background-color: white;
    padding: 20px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #E0E0E0;
}
#modal-client #client-items #client-records .record:nth-child(3){
    border-bottom: 0px;
}
#modal-client #client-items #client-records-carcase .record:nth-child(3){
    border-bottom: 0px;
}
#modal-client #client-items #client-records .record .record-info{
    line-height: 20px;
    font-size: 14px;
    color: #636363;
    font-weight: 400;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#modal-client #client-items #client-records .record .record-cost{
    margin-left: 10px;
    float: right;
    color: #b60a31;
}
#modal-client #client-items #client-records .record .record-car{
    line-height: 20px;
    font-size: 12px;
    color: #8E988E;
    font-weight: 400;
    text-align: left;
}
#modal-client #client-items #client-records .record .record-date{
    line-height: 20px;
    font-size: 12px;
    color: #8E988E;
    font-weight: 400;
    float: left;
    width: 65px;
    margin-right: 20px;
    text-align: center;
}
#modal-client #client-items #client-records .record .record-date .record-time{
    color: #b60a31;
    font-weight: 600;
    font-size: 13px;
}
#modal-client #client-info{
    width: 400px;
    box-sizing: border-box;
    padding-left: 10px;
    float: left;
    margin-top: 25px;
}
#modal-client #client-info .column-item{
    overflow: auto;
    margin-bottom: 20px;
}
#modal-client #client-info .column-item.slide{
    overflow: auto;
    margin-bottom: 0px;
}
#modal-client #client-info  #slide-car{
    display: none;
}
#modal-client #client-info .client-car{
    color: #b60a31;
    cursor: pointer;
}
#modal-client #client-info .column-item .item-title{
    width: 120px;
    float: left;
    color: #636363;
    font-weight: 700;
    font-size: 13px;
}
#modal-client #client-info .column-item .item-text{
    float: left;
    color: #636363;
}
#modal-record{
    width: 450px;
}
#modal-record .column-item{
    overflow: auto;
    margin-bottom: 25px;
}
#modal-record .column-item .item-title{
    width: 220px;
    float: left;
    color: #636363;
    font-weight: 700;
    font-size: 13px;
}
#modal-record .column-item .item-text{
    float: left;
    color: #636363;
}
#modal-record .column-item #client-surname a{
    color: #b60a31;
    cursor: pointer;
}
#modal-record .column-item #client-surname a:hover{
    text-decoration: underline;
}
#modal-record-carcase{
    width: 450px;
}
#modal-record-carcase .column-item{
    overflow: auto;
    margin-bottom: 25px;
}
#modal-record-carcase .column-item .item-title{
    width: 220px;
    float: left;
    color: #636363;
    font-weight: 700;
    font-size: 13px;
}
#modal-record-carcase .column-item .item-text{
    float: left;
    color: #636363;
}
#modal-record-carcase .column-item #client-surname a{
    color: #b60a31;
    cursor: pointer;
}
#modal-record-carcase .column-item #client-surname a:hover{
    text-decoration: underline;
}
#modal-task{
    width: 450px;
}
#modal-task .column-item{
    overflow: auto;
    margin-bottom: 25px;
}
#modal-task .column-item .item-title{
    width: 220px;
    float: left;
    color: #636363;
    font-weight: 700;
    font-size: 13px;
}
#modal-task .column-item .item-text{
    float: left;
    color: #636363;
}
#modal-task .column-item #client-surname a{
    color: #b60a31;
    cursor: pointer;
}
#modal-task .column-item #client-surname a:hover{
    text-decoration: underline;
}
#modal-income{
    width: 450px;
}
#modal-income .column-item{
    overflow: auto;
    margin-bottom: 25px;
}
#modal-income .column-item .item-title{
    width: 220px;
    float: left;
    color: #636363;
    font-weight: 700;
    font-size: 13px;
}
#modal-income .column-item .item-text{
    float: left;
    color: #636363;
}
#modal-income .column-item #client-surname a{
    color: #b60a31;
    cursor: pointer;
}
#modal-income .column-item #client-surname a:hover{
    text-decoration: underline;
}
#modal-source{
    width: 450px;
}
#modal-source .column-item{
    overflow: auto;
    margin-bottom: 25px;
}
#modal-source .column-item .item-title{
    width: 220px;
    float: left;
    color: #636363;
    font-weight: 700;
    font-size: 13px;
}
#modal-source .column-item .item-text{
    float: left;
    color: #636363;
}
#modal-expense{
    width: 450px;
}
#modal-expense .column-item{
    overflow: auto;
    margin-bottom: 25px;
}
#modal-expense .column-item .item-title{
    width: 220px;
    float: left;
    color: #636363;
    font-weight: 700;
    font-size: 13px;
}
#modal-expense .column-item .item-text{
    float: left;
    color: #636363;
}
#modal-expense .column-item #client-surname a{
    color: #b60a31;
    cursor: pointer;
}
#modal-expense .column-item #client-surname a:hover{
    text-decoration: underline;
}
.modal .modal-footer .footer-button{
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #D2D2D2;
    cursor: pointer;
    display: inline-block;
    background-color: #FFFFFF;
    transition-property: background-color;
    transition-duration: 0.4s;
    padding: 7px 10px;
    float: right;
    margin-left: 10px;
}
.modal .modal-footer .footer-button:hover{
    background-color: #F1F1F1;
}
/*              CALENDAR                */
#last-records,
#last-last-records,
#last-last-last-records,
#next-records,
#next-next-records,
#next-next-next-records{
    display: none;
}
#last-records-carcase,
#last-last-records-carcase,
#last-last-last-records-carcase,
#next-records-carcase,
#next-next-records-carcase,
#next-next-next-records-carcase{
    display: none;
}
.calendar .records-count{
    display: none;
}
.calendar .records-carcase-count{
    display: none;
}
.calendar{
    display: table;
    width: 100%;
    table-layout: fixed;
}
.calendar .row{
    display: table-row;
}
.calendar .row .cell{
    display: table-cell;
    text-align: center;
    border-right: 1px solid #C1C1C1;
    height: 70px;
    padding: 20px;
    vertical-align: top;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    border-bottom: 1px solid #C1C1C1;
}
.calendar .row .cell.locked {
    background-color: #f4f8fb;
}
.calendar .row .cell:last-of-type{
    border-right: 0px;
}
.calendar .row .cell-caption{
    display: table-cell;
    text-align: center;
    border-bottom: 1px solid #C1C1C1;
    height: 60px;
    padding: 0 10px 0 20px;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
}
.calendar .row .cell .day_number{
    margin-top: -10px;
    margin-left: -10px;
    position: absolute;
    color: #8E988E;
}
.calendar .row .cell.today{
    border-bottom: 5px solid #b60a31;
}
.calendar .row .cell .record-href,
#modal-records-list .record-href{
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #b60a31;
    cursor: pointer;
}
.calendar .row .cell .record-href:hover,
#modal-records-list .record-href:hover{
    text-decoration: underline;
}
.calendar .row .cell .record-href:first-of-type{
    margin-top: 10px;
}
.calendar .row .cell .record-carcase-href,
#modal-records-carcase-list .record-carcase-href{
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #b60a31;
    cursor: pointer;
}
.calendar .row .cell .record-carcase-href:hover,
#modal-records-carcase-list .record-carcase-href:hover{
    text-decoration: underline;
}
.calendar .row .cell .record-carcase-href:first-of-type{
    margin-top: 10px;
}
.calendar + .calendar-footer{
    line-height: 40px;
    padding: 10px;
    overflow: auto;
}
.calendar + .calendar-footer .record-carcase-count{
    float: left;
}
.calendar + .calendar-footer .calendar-navigation{
    float: right;
}
.calendar + .calendar-footer .calendar-navigation .navigation-btn{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #D2D2D2;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    background-color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.4s;
}
.calendar + .calendar-footer .calendar-navigation .navigation-btn:hover{
    background-color: #F1F1F1;
}


/*              GRAPH                */
.graph-area, .main-item-area{
    background-color: white;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    width: 30%;
    cursor: pointer;
    padding: 10px;
    padding-top: 0px;
    display: inline-block;
    margin: 30px 1.5%;
    vertical-align: top;
}
.graph-area canvas{
    padding-bottom: 0px;
    box-sizing: border-box;
    width: 100% !important;
}
.graph-href{
    color: #525252;
    text-decoration: none;
}
.graph-area.midle{
    width: 50%;
    margin: 30px auto;
    display: block;
}



/*              MAIN                */
.main-item-area .record{
    height: 80px;
    width: 100%;
    background-color: white;
    padding: 20px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #E0E0E0;
}
.main-item-area .record:last-of-type{
    border-bottom: 0px;
}
.main-item-area .record .record-info{
    line-height: 20px;
    font-size: 14px;
    color: #636363;
    font-weight: 400;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.main-item-area .record .record-cost{
    margin-left: 10px;
    float: right;
    color: #b60a31;
}
.main-item-area .record .record-car{
    line-height: 20px;
    font-size: 12px;
    color: #8E988E;
    font-weight: 400;
    text-align: left;
}
.main-item-area .record .record-date{
    line-height: 20px;
    font-size: 12px;
    color: #8E988E;
    font-weight: 400;
    float: left;
    width: 65px;
    margin-right: 20px;
    text-align: center;
}
.main-item-area .record .record-date .record-time{
    color: #b60a31;
    font-weight: 600;
    font-size: 13px;
}
.main-item-area .record-carcase{
    height: 80px;
    width: 100%;
    background-color: white;
    padding: 20px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #E0E0E0;
}
.main-item-area .record-carcase:last-of-type{
    border-bottom: 0px;
}
.main-item-area .record-carcase .record-carcase-info{
    line-height: 20px;
    font-size: 14px;
    color: #636363;
    font-weight: 400;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.main-item-area .record-carcase .record-carcase-cost{
    margin-left: 10px;
    float: right;
    color: #b60a31;
}
.main-item-area .record-carcase .record-carcase-car{
    line-height: 20px;
    font-size: 12px;
    color: #8E988E;
    font-weight: 400;
    text-align: left;
}
.main-item-area .record-carcase .record-carcase-date{
    line-height: 20px;
    font-size: 12px;
    color: #8E988E;
    font-weight: 400;
    float: left;
    width: 65px;
    margin-right: 20px;
    text-align: center;
}
.main-item-area .record-carcase .record-carcase-date .record-carcase-time{
    color: #b60a31;
    font-weight: 600;
    font-size: 13px;
}
.main-item-area .task{
    height: 80px;
    width: 100%;
    background-color: white;
    padding: 20px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #E0E0E0;
}
.main-item-area .task .task-info{
    line-height: 20px;
    font-size: 14px;
    color: #636363;
    font-weight: 400;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.main-item-area .task .task-date{
    line-height: 20px;
    font-size: 12px;
    color: #8E988E;
    font-weight: 400;
    text-align: left;
}
.main-item-area .task:last-of-type{
    border-bottom: 0px;
}

#notifications .record-notification,
#notifications .task-notification{
    position: fixed;
    z-index: 999;
    background-color: #3A3A3A;
    opacity: 0.9;
    min-width: 300px;
    border: 1px solid #E0E0E0;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    padding: 20px 20px;
    display: table;
}

#notifications .notification:nth-child(1){
    bottom: 10px;
}

#notifications .notification:nth-child(2){
    bottom: 100px;
}

#notifications .notification:nth-child(3){
    bottom: 190px;
}

#notifications .notification:nth-child(4){
    bottom: 280px;
}

#notifications .notification:nth-child(5){
    bottom: 370px;
}

#notifications .notification:nth-child(6){
    bottom: 460px;
}

#notifications .notification:nth-child(7){
    bottom: 550px;
}

#notifications .notification:nth-child(8){
    bottom: 640px;
}

#notifications .notification:nth-child(8) ~ .notification{
    display: none;
}

#notifications .record-notification .record-date,
#notifications .task-notification .task-date{
    color: #b60a31;
    font-weight: 600;
    font-size: 13px;
    padding-right: 20px;
    vertical-align: middle;
    display: table-cell;
    width: 40px;
    text-align: center;
}

#notifications .record-notification .record-info,
#notifications .task-notification .task-info{
    display: table-cell;
    vertical-align: middle;
    line-height: 20px;
    font-size: 14px;
    color: #EAEAEA;
    font-weight: 400;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 260px;
    width: 260px;
}

#notifications .record-notification .record-cost{
    margin-left: 10px;
    float: right;
    color: #b60a31;
}

/*              DATEPICKER                */

.datepicker.dropdown-menu{
    color: #5A5A5A;
}
.today.active{
    color: #ffffff !important;
}
.datepicker table tr td, .datepicker table tr th{
    border-radius: 0px;
}
.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover{
    background-color: #ffffff;
    border-color: transparent;
    border-radius: 0px;
    background-image: none;
    color: #b60a31;
    font-weight: 700;
}
.datepicker table tr td.today:hover, .datepicker table tr td.today:hover:hover, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today.disabled:hover:hover, .datepicker table tr td.today:focus, .datepicker table tr td.today:hover:focus, .datepicker table tr td.today.disabled:focus, .datepicker table tr td.today.disabled:hover:focus, .datepicker table tr td.today:active, .datepicker table tr td.today:hover:active, .datepicker table tr td.today.disabled:active, .datepicker table tr td.today.disabled:hover:active, .datepicker table tr td.today.active, .datepicker table tr td.today:hover.active, .datepicker table tr td.today.disabled.active, .datepicker table tr td.today.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.today, .open .dropdown-toggle.datepicker table tr td.today:hover, .open .dropdown-toggle.datepicker table tr td.today.disabled, .open .dropdown-toggle.datepicker table tr td.today.disabled:hover{
    background-color: #eeeeee;
    border-color: transparent;
    color: #b60a31;
}
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover{
    background-color: #b60a31;
    border-color: transparent;
}
.datepicker table tr td span{
    border-radius: 0px;
}
.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active:focus, .datepicker table tr td span.active:hover:focus, .datepicker table tr td span.active.disabled:focus, .datepicker table tr td span.active.disabled:hover:focus, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td span.active, .open .dropdown-toggle.datepicker table tr td span.active:hover, .open .dropdown-toggle.datepicker table tr td span.active.disabled, .open .dropdown-toggle.datepicker table tr td span.active.disabled:hover{
    background-color: #b60a31;
    border-color: #b60a31;
    border-radius: 0px;
}


#loading{
    background-color: rgba(47, 47, 47, 0.49);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 450;
    top: 0px;
    left: 0px;
}
#progress-bar{
    display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    border-radius: 100px;
    border: 10px solid rgb(236, 236, 236);
    border-top-color: #b60a31;
    transform: rotate(30deg);
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#record-edit .add-button{
    margin-left: 200px;
}

.browser-list{
    margin: 15px 0px;
}

.browser-list a{
    color: rgb(7, 147, 179);
    text-decoration: none;
    margin: 0px 15px;
}

/************************************************************/
/**************         Планшеты            *****************/
/************************************************************/
@media (max-width: 1280px) and (min-width: 800px){
    body.left-panel-open{
        padding-left: 0px;
    }
    
    .graph-area, .main-item-area{
        width: 47% !important;
        margin: 30px 1% !important;
    }
    
    #modal-client{
        width: 96% !important;
        left: 2% !important;
        box-sizing: border-box;
    }
    #modal-client #client-records-item{
        float: left;
        width: 49%;
    }
    #modal-client #client-records-carcase-item{
        clear: both;
        float: left;
        width: 49%;
    }
    #modal-client #client-tasks-item{
        float: right;
        width: 49%;
    }
    
    #modal-client #client-items{
        overflow: auto;
        width: 100%;
        padding: 0px;
        float: none;
    }
    #modal-client #client-info{
        width: 100%;
        overflow: auto;
        padding: 0px;
        float: none;
    }
}

@media screen{
    #left-panel{
        overflow-y: auto;
    }
}

/************************************************************/
/**************         Телефоны            *****************/
/************************************************************/
@media (max-width: 799px){
    
    #content.login{
        width: 100%;
    }
    
    body.left-panel-open{
        padding-left: 0px;
    }
    
    .form{
        padding: 10px;
    }
    
    .form .form-item{
        margin: 10px 0px;
    }
    
    #toolbar #breadcrumb{
        float: none;
    }
    #toolbar #control{
        float: none;
        margin-top: 10px;
    }
    
    .modal{
        width: 100% !important;
        left: 0% !important;
        padding: 10px;
        box-sizing: border-box;
    }
    
    #modal-client #client-items{
        overflow: auto;
        width: 100%;
        padding: 0px;
        float: none;
    }
    #modal-client #client-info{
        width: 100%;
        overflow: auto;
        padding: 0px;
        float: none;
    }
    /*
    #clients .table-car, #clients .table-gmumber, #clients .table-date, #list-records .table-car, #list-records .table-gnumber, #list-records-carcase .table-gnumber, #list-records .table-record, #list-records-carcase .table-record-carcase, #list-records .table-price, #list-records-carcase .table-price, #list-records .table-date, #list-records-carcase .table-date, #list-services .table-date, #list-tasks .table-name, #list-tasks .table-date, #list-income .table-service, #list-income .table-price, #list-income .table-date, #list-expense .table-price, #list-expense .table-date{
        display: none;
    }{
        display: none;
    } 
    */
    #clients  .table-surname, #list-records .table-client, #list-records-carcase .table-client, #list-services .table-name, #list-tasks .table-client, #list-income .table-client, #list-expense .table-name{
        width: 80%;
    }
    
    #table-info #records-info{
        padding-right: 40px;
    }
    
    #table-info #records-carcase-info{
        padding-right: 40px;
    }
    
    .graph-area, .main-item-area, .graph-area midle{
        display: block;
        width: auto !important;
        box-sizing: border-box;
    }
    
    #right-panel:not(.close){
        width: 100%;
    }
    
    .calendar .row .cell{
        padding: 0px;
        height: 40px;
    }
    .calendar .row .cell-caption{
        padding: 0px 5px;
    }
    .calendar .row .cell .day_number{
        margin-top: 6px;
        margin-left: 6px;
    }
    .calendar .cell .record-href{
        display: none !important;
    }
    .calendar .records-count{
        display: block;
        width: 30px;
        height: 30px;
        background-color: #b60a31;
        color: #ffffff;
        line-height: 30px;
        font-size: 14px;
        font-weight: 600;
        margin: 30px auto 10px auto;
        cursor: pointer;
    }
    #modal-records-list .record-href{
        padding: 5px 0px;
    }
    .calendar .cell .record-carcase-href{
        display: none !important;
    }
    .calendar .records-carcase-count{
        display: block;
        width: 30px;
        height: 30px;
        background-color: #b60a31;
        color: #ffffff;
        line-height: 30px;
        font-size: 14px;
        font-weight: 600;
        margin: 30px auto 10px auto;
        cursor: pointer;
    }
    #modal-records-carcase-list .record-carcase-href{
        padding: 5px 0px;
    }
    
    #content.long{
        width: 100%;
    }
    
}

@media (max-width: 599px){
    .form-item input, .form-item textarea, .form-item label{
        width: 100% !important;
        margin-left: 0px !important;
        max-width: none !important;
    }
    .form-submit{
        margin-right: 0px !important;
    }
}